* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

header {
  width: min(90vw, 1120px);
  margin: auto;
}
header div button {
  border: none;
  background-color: transparent;
}

.link {
  color: #141718;
  line-height: 2.4rem;
  display: inline-flex;
  font-weight: 500;
  align-items: center;
  text-decoration: none;
  border-bottom: 1px solid;
  text-transform: capitalize;
}

.addToCart {
  background-color: #141718;
  color: #fefefe;
  font-size: 1.4rem;
  line-height: 2.4rem;
  padding: 0.9rem 1.8rem;
  border-radius: 0.8rem;
  border: none;
}

.heartBtn {
  border-radius: 50%;
  padding: 0.6rem;
  box-shadow: 0 8px 16px 8px rgba(122, 122, 122, 0.12);
  border: none;
}

.nav-container {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  justify-content: space-between;
  justify-items: center;
  gap: 0.5rem;
  align-items: center;
  padding-block: 1.6rem;
}

.nav-container .menu-container {
  display: flex;
  gap: 0.5rem;
}

.nav-container nav ul {
  list-style: none;
  display: flex;
  gap: min(5vw, 4rem);
}

.nav-container nav a {
  color: #6c7275;
  text-decoration: none;
  line-height: 1.7;
  font-family: "Space Grotesk", sans-serif;
}

.nav-container nav a:hover {
  color: #141718;
}

@media screen and (min-width: 600px) {
  .nav-container .hamburger-menu {
    display: none;
  }
}
.nav-container .icons {
  list-style: none;
  display: flex;
  gap: 1.7rem;
}

.nav-container .icons li:last-child button {
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.nav-container .icons li:last-child button span {
  font-size: 1.2rem;
  line-height: 1.2;
  padding: 0.2em 0.5em;
  background: black;
  color: white;
  border-radius: 20px;
}

@media screen and (width <= 600px) {
  .nav-container .icons li:not(:last-child) {
    display: none;
  }
  .nav-container nav ul {
    display: none;
  }
}
.hero {
  width: min(90vw, 1120px);
  margin: auto;
  background-image: url(./images/Paste\ Image.png);
  background-size: cover;
  height: 392px;
  font-family: "Poppins", sans-serif;
}
.hero .h1 {
  width: 225px;
  height: 58px;
  font-size: 5.4rem;
  font-weight: 500;
  line-height: 58px;
  letter-spacing: -1px;
  text-align: left;
  padding-top: 20px;
  font-family: "Poppins", sans-serif;
}
.hero p {
  width: 326px;
  height: 32px;
  font-size: 2rem;
  font-weight: 400;
  line-height: 32px;
  font-family: sans-serif;
}
.hero .hero_link1 {
  width: 70px;
  height: 24px;
  gap: 4px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 24px;
  background-color: transparent;
  border: none;
  display: flex;
  text-decoration: none;
  color: #000000;
}

.hero_link2:hover {
  color: #605F5F;
}

.hero_link1:hover {
  color: #605F5F;
}

.hero_link2 {
  width: 30px;
  height: 24px;
  gap: 4px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 24px;
  background-color: transparent;
  border: none;
  text-decoration: none;
  color: #000000;
}

.hero_items {
  width: 326px;
  margin: auto;
  height: 162px;
  gap: 24px;
  padding-top: 160px;
  text-align: center;
}

.hero_links {
  display: flex;
  justify-content: center;
  gap: 10px;
}

@media screen and (width <= 600px) {
  .hero {
    width: min(90vw, 580px);
    margin: auto;
    background-image: url(./images/Paste\ Image.png);
    background-size: cover;
    height: 392px;
  }
  .hero .h1 {
    width: 225px;
    height: 58px;
    font-size: 54px;
    font-weight: 500;
    line-height: 58px;
    letter-spacing: -1px;
    text-align: left;
  }
  .hero p {
    width: 326px;
    height: 32px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
  }
  .hero .hero_link1 {
    width: 56px;
    height: 24px;
    gap: 4px;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 24px;
    background-color: transparent;
    border: none;
    display: flex;
    text-decoration: none;
    color: #000000;
  }
  .hero .hero_link1 a {
    text-decoration: none;
    color: #000000;
  }
  .hero_link1:hover {
    color: #605F5F;
  }
  .hero_link2:hover {
    color: #605F5F;
  }
  .hero_link2 {
    width: 30px;
    height: 24px;
    gap: 4px;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 24px;
    background-color: transparent;
    border: none;
  }
  .hero_link2 a {
    text-decoration: none;
    color: #000000;
  }
  .hero_items {
    width: 326px;
    margin: auto;
    height: 162px;
    gap: 24px;
    padding-top: 160px;
    text-align: center;
    margin-bottom: 40px;
  }
  .hero_links {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}/*# sourceMappingURL=main.css.map */